<div class="container text-center pb-4">
  <h3>ペットの種類(例：犬や猫など)登録</h3>
  <div class="row">
   
    <div class="col-12 m-5">
      <%= form_with model: @genre, local: true do |f| %>
        <div>
          <table>
            <tr>
              <th><%=f.label :animal_type, "ペットの種類" %></th>
              <td>　　　<%= f.text_field :animal_type, placeholder:"ペットの種類" %></td>
            </tr> 
                
            <tr>
              <th></th>
              <td><%= f.submit "新規登録", class: "btn btn-outline-success mt-3" %></td>
            </tr> 
            
            <tr>
              <th></th>
              <td><%= link_to "ペット登録画面", new_pet_path,   class: "btn btn-outline-success mt-3" %></td>
              <td><%= link_to "新規投稿画面", new_post_path, class: "btn btn-outline-success mt-3" %></td>
            </tr>              
            
          </table>
        </div>
      <% end %>
    </div>    
     
  </div>
</div>