<div class="container pt-5">
  <div class="pet-new-bg pt-5">  
    <h2>会員編集</h2>
      
    <%= form_with model: @pet,url:user_pet_path(current_user,@pet.id), local: true do |f| %>
      <div class="row">
        <table>     
           
          <div class="form-group">
          
            <tr>
              <th>ペットの名前</th>
              <td><%= f.text_field :name %></td>
            </tr>
          </div>

          <tr>
            <th><%= f.label :image, "ペット画像" %></th>
            <td><%= f.attachment_field  :pet_image, class: "form-control-file pet_image" %></td>
          </tr>

          <div class="form-group">  
            <tr>
            <th><%= f.label :gender, "ペットの性別" %></th>
            <td><%= f.select :gender, ["男の子","女の子","不明"] %></td>
            </tr>
          </div>
          
          <div class="form-group">  
            <tr>
            <th><%= f.label :age, "ペットの歳" %></th>
            <td>
              <%= f.select :age, {"1":1, "2":2, "3":3, "4":4, "5":5, "6":6, "7":7, "8":8, "9":9, "10":10, "11":11, "12":12, "13":13, "14":14, "15":15,
                "16":16, "17":17, "18":18, "19":19, "20":20, "21":21, "22":22, "23":23, "24":24, "25":25, "26":26, "27":27, "28":28, "29":29, "30":30},
              { include_blank: true, selected: @pet.age },class: "change-pet"%>
            </td>        
            </tr>            
          </div>
          
          <div class="form-group">  
            <tr>
              <th>
                <td><%= f.submit "編集更新" , class:"btn btn-success" %></td>
              </th>
            </tr>            
          </div>
          
        </table>            
      </div>
 
      <% end %>
  </div>
</div>
