<div class="container pt-5">
  <div class="follo-bg">
  <div class="row">
    <div class="col-12">

        <table class="table">
          
          <therd>
            <tr>
              <th>会員画像</th>
              <th>ニックネーム</th>
              <th>フォロー</th>
              <th>フォロワー</th>
              <th>投稿数</th>
              <th>ペット数</th>
            </tr>           
          </thred>
      
          <tbody>
           <% @users.each do |user| %>
            <tr>
              <td>
                <%= link_to user_path(user.id) do %>
                  <%= attachment_image_tag user, :user_image, fallback: "No_image.jpeg" ,size:"100x100"  ,class: 'pet-image' %>
                <% end %> 
              </td>
              <td>
                <%= link_to user_path(user.id) do %>
                  <%= user.nick_name %>
                <% end %> 
              </td>
              <td>
                <%= link_to follower_user_path(user.id) do %>
                  フォロー数：<%= user.following_user.count %>
                <% end %>
              </td>
              <td>
                <%= link_to followed_user_path(user.id) do %>
                  フォロワー数：<%= user.follower_user.count %>
                <% end %> 
              </td>
              <td>
                  投稿数：<%= user.posts.count %>
              </td>
              <td>
                <%= link_to user_pets_path(user.id) do %>
                  <%= user.pets.count %>匹
                <% end %> 
              </td>
            </tr>
            <% end %>
          <tbody>
        
        </table>  
     
    </div>
  </div>
</div>  