<div class="container pt-5">
  <div class="user-show-edit-bg p-3">
  <h2><i class="fas fa-user"></i>会員詳細</h2>
      
      <div class="row">
        <table>     
          <tbody>
            
            <tr>
              <th><i class="fas fa-image"></i>会員画像</th>
              <td>
                <%=  attachment_image_tag @user, :user_image, fallback: "No_image.jpeg" ,size:"300x300",class: 'pet-image'%>  
              </td> 
            </tr>
          
     
            <tr>
              <th><h4>ニックネーム</h4></th>
              <td><h4><%= @user.nick_name %></h4></td>
            </tr>
          
            <tr>
              <th><h4>投稿数</h4></th>
              <td><h4><%= @user.posts.count %>件</h4></td>
            </tr>        
          
          <tr>
            <th>フォロー</th>
            <th>
              <%= link_to follower_user_path(@user.id) do %>
                <%= @user.following_user.count %>
              <% end %>
            </th>  
          </tr>
          
          <tr>
            <th>フォロワー</th>
            <th>
              <%= link_to followed_user_path(@user.id) do %>
                <%= @user.follower_user.count %>
              <% end %>      
            </th>  
          </tr>        
          
          <div class="form-group">  
            <tr>
              <th><%= link_to "投稿一覧に戻る",posts_path , class:"btn btn-primary" %></th>
              <% if current_user == @user %>
                <td><%= link_to "会員編集",edit_user_path(@user.id), class:"btn btn-success" %></td>   
              <% end %>
            </tr>            
          </div> 
          
          <div class="form-group">  
            <tr>
              <th><%= link_to "会員ペット一覧", user_pets_path(@user.id), class:"btn btn-primary" %></th>
              <td>
                  <% if current_user != @user %>
                  　<% if current_user.following?(@user) %>
                    　<%= link_to 'フォロー外す', user_relationship_path(@user.id), method: :delete, class: "btn btn-warning " %>
                    <% else %>
                    　<%= link_to 'フォローする', user_relationships_path(@user.id), method: :POST , class: "btn btn-success "%>
                    <% end %>
                  <% end %>
                </td>  
            </tr>            
          </div>    
          
          </tbody>
        </table>            
      </div>
  </div>
</div>
