<% posts.each do |image| %>
<div class="text-center">
  <div class="index-image">
    <%= link_to user_path(image.user) do %>
      <%= attachment_image_tag image.user, :user_image, size:"100x100",fallback: "No_image.jpeg"  ,class: 'rounded-circle shadow' %>
    <% end %>
  </div> 
  
  <div class="user">
    <%= link_to user_path(image.user.id) do %>
      by <%= image.user.nick_name %>
    <% end %>
  </div>    
    
  <div class="title">
    タイトル：<%= image.title %>
  </div>
  
  <div class="favorite ">
    いいね：<%= image.favorites.count %>件  コメント：<%= image.comments.count %>件
  </div>    
    
 
  <div class="post-image mb-5 ">
    <%= link_to post_path(image) do %>
      <%= attachment_image_tag image, :post_image, :fill, 400,400, size:"400x400" ,class: 'border border-primary shadow'%>
    <% end %> 
  </div>
  
  </div>  
  
<% end %>
<div class="paginate mr-5">
  <%= paginate  (posts) %>
</div>