
<div class="post-edit-bg">
<div class="container-new-edit">
  <h2>投稿編集</h2>

     <%= form_with model: @post,url:post_path(@post.id), method: :patch, local: true do |f| %>
      <div class="row">
        
        <table>
          
          <tr>
            <th><%= f.label :pet_id, "ペットの名前" %></th>
            <td><%= f.collection_select :pet_id, @pet, :id, :name, prompt: "--選択してください--" , class:"form-control" %></td>
          </tr> 
        
          
          <tr>
            <th><%=f.label :image, "画像投稿" %></th>
            <td><%=f.attachment_field :post_image, class: "form-control-file post_image" %></td>
          </tr> 

        
          <tr>
            <th><%=f.label :title, "題名" %></th>
            <td><%= f.text_field :title, placeholder:"タイトル" %></td>
          </tr> 
        
          <tr>
            <th><%=f.label :text, "本文" %></th>
            <td><%= f.text_area :text, placeholder:"本文" %></td>
          </tr> 
          

        
          <tr>
            <th><%= f.submit "投稿更新", class: "btn btn-success " %></th>
            <td></td>
          </tr>
          
          
        </div>
      <% end %>
      
          <tr>
            <th><%= link_to "詳細画面に戻る",post_path(@post.id), class:"btn btn-success" %>　　</th>
            <th>　　　<%= link_to "一覧画面に戻る",posts_path, class:"btn btn-success" %></th>
          </tr>  
 
        </table>
    </div>
  </div>  
</div>
</div>

