<div class="container text-center">
<div class="error-text">
  <% if @post.errors.any? %>
    <h2><%= @post.errors.count %>件のエラーがあります </h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  <% end %>  
</div>

  <h2>新規投稿</h2>
    <p>ペットの登録はお済みですか？　登録してなければ<%= link_to "コチラ", new_user_pet_path(current_user) %></p>
    <p class="text-danger">＊ペットの登録は一番最初にしてください</p>

     <%= form_with model: @post,url:posts_path, local: true do |f| %>
      <div class="row">
        
        <table>
          
          <tr>
            <th><%= f.label :pet_id, "ペットの名前" %></th>
            <td><%= f.collection_select :pet_id, @pet, :id, :name, prompt: "--選択してください--" , class:"form-control" %></td>
          </tr> 
        
          
          <tr>
            <th><%=f.label :image, "画像投稿" %></th>
            <td><%=f.attachment_field :post_image, class: "form-control-file post_image" %></td>
          </tr> 

        
          <tr>
            <th><%=f.label :title, "題名" %></th>
            <td><%= f.text_field :title, placeholder:"タイトル" %></td>
          </tr> 
        
          <tr>
            <th><%=f.label :text, "本文" %></th>
            <td><%= f.text_area :text, placeholder:"本文" %></td>
          </tr> 
          

        
          <tr>
            <th><%= f.submit "新規投稿", class: "btn btn-outline-success" %></th>
            <td></td>
          </tr>
          
          </table>
        </div>
      <% end %>
  </div>  


  