<div class="container">
  <div class="row mt-3">
    <div class="col-md-3">
      <%= render "users/info", user: @user %> 
    </div>  
    
    <div class="col-md-9 mx-auto">
      <div class="title text-center">
        <strong><h3><%= @post.title %></h3></strong>
      </div>
      <div>
        <%= link_to edit_post_path(@post.id), class:"btn btn-success"  %>
      </div>  

      
      <div class="post_image">
        <%= attachment_image_tag @post, :post_image,size: "800x500" %>
      </div>
      <table class="table">
        <tr>
          <th>本文</th> 
          <th class="post-text ">
            <%= @post.text %>
          </th>
        </tr>
        
        <tr class="post-genre">  
          <th>ペットの種類</th> 
          <th>
             <%= @post.genre.animal_type %>
          </th>
        </tr>
      
        <tr class="post-genre-type">
          <th>品種</th> 
            <th>
              <%= @post.genre.type %>
            </th>
        </tr>
        

      </table>
      <!--ここにコメント関係を-->
  </div>
</div>  
</div> 